<ul class="social-container header__item">
                            <li class="social__icon social__icon--fb">
                                <a href="https://fr.linkedin.com/in/cferte"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li class="social__icon social__icon--dr">
                                <a href="https://angel.co/ferte_c"><i class="fa fa-angellist" aria-hidden="true"></i></a>
                            </li>
                            <li class="social__icon social__icon--in" >
                                <a href="http://twitter.com/ferte_c"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
</ul>