$font-base:  "Raleway", sans-serif;
$font-about:  "Droid Serif", sans-serif;

$dark-grey:   #222426;
$middle-blue: #222426;
$light-white: #fdfdff;
$light-blue:  #edf9f9;
$dark-blue:  #546a7b;
$sidebar-color: rgba($dark-blue, .95);
$sidebar-item-color: rgba($dark-blue, 0);

$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";




#sidebar {
  animation-duration: .2s;
  background-color: $sidebar-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1;

  ul {
    display: table;
    position: relative;
    top: 6em;
    width: 100%;

    li {
      border-style: none;
      display: table;
      font-size: 20px;
      font-weight: 400;
      height: 60px;
      margin-bottom: 5px;
      width: 100%;

      &:hover {
        background-color: $dark-grey !important;
        color: $dark-blue !important;
      }

      a {
        background-color: $sidebar-item-color;
        color: inherit;
        display: table-cell;
        height: 100%;
        padding-left: 1.2em;
        text-decoration: none;
        transform: translate(-5px, 0);
        transition: .6s ease-out;
        vertical-align: middle;
        width: 100%;

        &:hover {
          color: $middle-blue !important;
          transform: translate(5px, 0);
          transition: .2s linear;
        }
      }
    }
  }
}



@media #{$desktop} {
  #menu-button {
    font-size: 14px;
    z-index: 2;
  }

  #home {
    h1 {

      p {
        font-size: 42px;
        font-weight: 400;
      }

      strong {
        font-size: 46px;
      }
    }
  }
}

@media #{$tablet} {
  #menu-button {
    font-size: 12px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home {
    h1 {

      p {
        font-size: 38px;
        font-weight: 400;
      }

      strong {
        font-size: 42px;
      }
    }
  }
}

@media #{$phone} {
  #menu-button {
    font-size: 10px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home {
    h1 {

      p {
        font-size: 30px;
        font-weight: 400;
      }

      strong {
        font-size: 34px;
      }
    }
  }

  #contact {
    button {
      font-size: .7em;
    }

    p {
      font-size: .7em;
    }
  }
}

.dark-gray-background {
  background-color: $dark-grey;
}

.dark-gray-font {
  color: $dark-grey !important;
}

.light-white-font {
  color: $light-white;
}

.light-blue-background {
  background-color: $light-blue;
}

.middle-blue-font {
  color: $middle-blue !important;
}

.middle-blue-background {
  background-color: $middle-blue;
}

.dark-blue-font {
  color: $dark-blue;
}





// typed.js stuff
.typed-cursor {
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  animation: blink .7s infinite;
  opacity: 1;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media #{$phone}{.landing-page-container {
   
    height: 100px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;}
    
    .content__wrapper{height:50px;}
.container__item{} 
.landing-page-container{height:100px;}
}